package ${packageName};


import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

import ${packageName}.entity.${tableName}Entity;

@Repository
public interface ${javaClazz} extends JpaRepository<${tableName}Entity, Integer> {

}