package ${packageName};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class ${projectNameApplication} {

	public static void main(String[] args) {
		SpringApplication.run(${projectNameApplication}.class, args);
	}

}